<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta content="initial-scale=1, width=device-width" name="viewport"/>
  <title>AirPatrol</title>
  <link runat="server" rel='icon' href='favicon.ico' type='image/x-icon'/ >
  <script src="https://code.jquery.com/jquery-latest.min.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
  <!-- <link href="../static/styles.css" rel="stylesheet"/> -->
  <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet"/>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_ti9X7_c3dsFkON13Q0MKr08aPXVs9pg"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

  <!-- http://stewartjpark.com/Flask-JSGlue/ -->
  {{ JSGlue.include() }}

  <!-- <script src="../static/mapscripts.js"></script> -->
  <script src="{{ url_for('static', filename='mapscripts.js') }}"></script>
</head>
<body>

    <!-- fill viewport -->
    <div class="container-fluid">

        <!-- https://developers.google.com/maps/documentation/javascript/tutorial -->
        <div id="map-canvas"></div>

        <!-- http://getbootstrap.com/css/#forms -->
        <form id="form">
            <div class="form-group">

                <label for="q">Number of Sensors</label> <!--class="sr-only"-->
                <span>
                  <input class="form-control" id="q" placeholder="Number of Sensors" type="text"/>
                </span>
                <input type="submit" id="btnsub" value="Show" />
            </div>
            <p style = "margin-left:20px;">
            <b> Instructions: </b> <br>
            <b> 1) Enter number of sensors to place </b> <br>
            <b> 2) Pan and zoom to neighborhood of interest </b> <br>
            <b> 3) Optimal sensor locations will be displayed. </b> <br>
            </p>
        </form>
    </div>

</body>
</html>
