<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta content="initial-scale=1, width=device-width" name="viewport"/>
  <title>FairAir</title>
  <link runat="server" rel='icon' href='favicon.ico' type='image/x-icon'/ >
  <script src="https://code.jquery.com/jquery-latest.min.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
  <!-- <link href="../static/styles.css" rel="stylesheet"/> -->
  <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet"/>
  <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_ti9X7_c3dsFkON13Q0MKr08aPXVs9pg"></script> -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_ti9X7_c3dsFkON13Q0MKr08aPXVs9pg&libraries=visualization">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

  <!-- http://stewartjpark.com/Flask-JSGlue/ -->
  {{ JSGlue.include() }}

  <!-- <script src="../static/mapscripts.js"></script> -->
  <script src="{{ url_for('static', filename='mapscripts.js') }}"></script>
</head>
<body>
    <header>
        <nav id="container">
            <ul class="topBar">
                <li><a id="home" href="https://fairair.netlify.com/#home">Home</a></li>
                <li><a href="https://fairair.netlify.com/#background">About</a></li>
                <li><a href="https://fairair.netlify.com/#approach">Uses</a></li>
                <!--<li><a href="http://ec2-34-217-122-20.us-west-2.compute.amazonaws.com:8083">Demo</a></li>-->
                <li><a href="https://fairair.netlify.com/#model">Model</a></li>
                <li><a href="https://fairair.netlify.com/#helpout">Support</a></li>
                <li><a href="https://fairair.netlify.com/#team">Team</a></li>
            </ul>
        </nav>
    </header>
    <div class="sideHeader">

        <p id="mapinstr">
            <b> Instructions: </b> <br>
            <b> 1) Set number of sensors to place </b> <br>
            <b> 2) Pan, zoom to area of interest </b> <br>
            <b> 3) Pins mark <a title="Calculation balances highest predicted pollution with greatest sparsity of sensors">optimal location</a> </b> <br>
			<b> 4) For more info: </b> <br>
			<b>    * check boxes, click show </b> <br>
			<b>    * hover over sidebar text </b> <br>
			<b>    * click icons on map </b>
        </p>
        <!-- http://getbootstrap.com/css/#forms -->
        <form id="form">
            <div class="form-group">
              <div id="spinner">
				<img src="https://maps.google.com/mapfiles/kml/paddle/grn-blank.png" class="icon1">
                <label for="q" title="Enter how many sensors you want to place">New Sensors:</label>
                <input class="form-control" id="q" type="number" name="quantity" min="1" max="50" value="5">
              </div>
                <div title="Existing network of PurpleAir.com sensors"><img src="https://maps.google.com/mapfiles/kml/paddle/blu-blank.png" class="icon"><input type="checkbox" id="toggle_existing" name="toggle_existing"> Existing sensors</div>
                <div title="Facilities reported to the California Air Resources Board in 2017 with estimated emissions of at least 1 ton of PM/year."><img src="https://maps.google.com/mapfiles/kml/shapes/caution.png"  class="icon"><input type="checkbox" id="toggle_polluters" name="toggle_polluters"> Registered polluters</div>
                <div title="FairAir's predicted pollution over past 7 days. Greener is cleaner."><img src="/static/heatmap.png" class="icon2"><input type="checkbox" id="toggle_heatmap" name="toggle_heatmap"> Predicted pollution</div>
                <div class="btnsub"><input type="submit" id="btnsub" value="Show" /></div>
            </div>
        </form>
    </div>
    <!-- fill viewport -->
    <div class="container-fluid">
        <!-- https://developers.google.com/maps/documentation/javascript/tutorial -->
        <div id="map-canvas"></div>
    </div>
    <footer id="footer">
        <p>FairAir is a capstone project by five UC Berkeley data science graduate students. Contact us at <a href="mailto:contact.fairair@gmail.com">contact.fairair@gmail.com.</a></p>
    </footer>
</body>
</html>
